<header id="header">
  <div class="inner">
    <h1><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">WINGS</a></h1>
    <nav id="gnb">
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">HOME</a></li>
        <li><a routerLink="about" routerLinkActive="active">ABOUT</a></li>
        <li><a routerLink="contact" routerLinkActive="active" >CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>
